:root {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Open Sans",sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);

  max-width: 2500px;
  margin: 0 auto;
}