:root {
    --background-color: #0c1217;
    --primary-color: #c9324c;

    --secondary-color: rgb(225, 225, 225, 1);
    --secondary-color-hover: white;

    --btn-color: black;
    --btn-background-color: rgba(216, 216, 216, 0.9);
    --btn-hover: rgba(216, 216, 216, 1);


}

